{namespace RelationNode}

/**
 * This renders the component's whole content.
 * @param? id
 * @param? label
 * @param? left
 * @param? top
 */
{template .render}
  <div class="metal-relation-node card card-rounded query-element-drag" data-id="{$id}" data-label="{$label}" style="position: absolute; left: {$left}px; top: {$top}px;">
    <h3 class="handle">{$label}</h3>
  </div>
{/template}
