a.control-menu-icon {
  text-decoration: none;
}

body.open {
  padding-left: 320px;
  overflow: hidden;
}

html, body {
    height: 100%;
}

.navbar {
  margin-bottom: 14px;
}

.card-inline {
  width: 300px;
  display: inline-flex;
  margin-right: 24px;
}

.row {
  padding-bottom: 24px;
}

.bg-default {
  margin: 3px;
}

.handle {
  float: right;
  height: 20px;
  width: 20px;
}

.drag-drop-target {
  height: 400px;
  background-color: aquamarine;
}

.query-element-drag {
  position: absolute;
  background-color: honeydew;
}
