$color1: #022f40; //rgba(2, 47, 64, 100)
$color2: #38aecc; //rgba(56, 174, 204, 100)
$color3: #0090c1; //rgba(0, 144, 193, 100)
$color4: #183446; //rgba(24, 52, 70, 100)
$color5: #046e8f; //rgba(4, 110, 143, 100)

.metal-neo4j {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.metal-hr {
  border-top: 1px solid white;
  margin-top: 0px;
}

.metal-toolbox {
  color: white;
}

.letterpress {
  position: fixed;
  left: 30px;
  top: 20px;

  color: white;
  font-family: 'Bungee', cursive;
  font-size: 30px;
}

.metal-graph-entity-list {
  list-style: none;
}

.metal-graph-entity-container {
  z-index: 1000;
  border: 2px solid white;
  background-color: rgba(4, 110, 143, 0.5);
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  width: 310px;
  top: 70px;
  left: 30px;
  font-family: 'Bungee', cursive;

  label {
    color: white;
  }
}

.modal-custom-size .modal-dialog {
  width: 430px;
}

.flex-container-margin-bottom {
  margin-bottom: 20px;
}

a.control-menu-icon {
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

html, body, form, .section, #content, .container-fluid, .metal-neo4j {
    height: 100%;
}

.card {
  .inline-scroller {
    height: auto;
    max-height: 300px;
  }
}

#dragDropTargetId {
  .card {
    padding: 5px;
  }
}

.metal-graph-entity {
  background-color: rgba(0, 144, 193, 0.5);
  border: 1px dashed white;
  color: white;
  padding: 0 6px 0 6px;
  margin: 2px;
  font-family: 'Lato', sans-serif;
}

.metal-graph-entity:hover {
  cursor: move;
}

h3:hover {
  cursor: move;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;

  padding-top: 20px;
  padding-bottom: 10px;
}

.bg-default {
  margin: 3px;
}

.handle {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modal-content {
  margin-left: auto;
  margin-right: auto;
}

.card-row-padded {
  padding: 8px;
}

.drag-drop-target {
  height: 100%;
  background-color: $color3;
  border-style: dashed;
  border-width: 3px;
  border-color: white;

  background-image: linear-gradient(rgba(255,255,255,.2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.2) 1px, transparent 1px),
  linear-gradient(rgba(255,255,255,.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.1) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}

.query-element-drag {
  position: absolute;
  background-color: white;
}
