a.control-menu-icon {
  text-decoration: none;
}

body.open {
  padding-left: 320px;
  overflow: hidden;
}

html, body {
    height: 100%;
}

.navbar {
  margin-bottom: 14px;
}

.row {
  padding-bottom: 24px;
}

h3:hover {
  cursor: move;
}


h3 {
  margin-top: 0px;
  margin-bottom: 0px;

  padding-top: 20px;
  padding-bottom: 10px;
}

.bg-default {
  margin: 3px;
}

.handle {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modal-content {
  margin-left: auto;
  margin-right: auto;
}

.card-row-padded {
  padding: 8px;
}

.submit-btn {
  color: white;
  float: right;
  padding-right: 15px;
  padding-top: 15px;
  text-decoration: none;
}

.drag-drop-target {
  height: 600px;
  background-color: #276FBF;
}

.query-element-drag {
  position: absolute;
  background-color: white;
}
